/* CSS Document */

/* =============================================================================
                                              Fonts
*/
@font-face {
  font-family: 'CompleteinHimRegular';
  src: url('../fonts/complete_in_him-webfont.eot');
  src: url('../fonts/complete_in_him-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/complete_in_him-webfont.woff') format('woff'),
       url('../fonts/complete_in_him-webfont.ttf') format('truetype'),
       url('../fonts/complete_in_him-webfont.svg#CompleteinHimRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* =============================================================================
                                              Standard HTML elements
*/
body {
  background-color: #EAEAEA;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
}
img {
  max-width: 100%;
  height: auto;
}
/* Tables */
table{
  margin-left:auto;
  margin-right:auto;
}
table td{
  border-bottom: 1px dotted #000000;
  vertical-align:top;
}
/* Links */
a {
  font-weight: bold;
  color: #0e76bc;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

/* ----------------------------------------
                          Headings
*/
h1, h2, h3, h4 {
  font-weight: bold;
  text-transform:uppercase;
}
h1,
.h1 {
  color: #ed6d2c;
  font-size: 38px;
  font-weight:normal;
  font-family:'CompleteinHimRegular';
  line-height:normal;
  margin-top: 0;
}
h2,
.h2 {
  color: #0e76bc;
  font-size: 16px;
}

/* ----------------------------------------
                          Forms
*/
form{
  overflow:hidden;
  padding: 20px;
  margin-left: 15px;
  /* width: 455px; */
  background-color: #0e76bc;
}
form label {
  width: 130px;
  float: left;
  clear:left;
  margin-left: 20px;
  margin-bottom: 8px;
  padding-top: 5px;
  color: #FFFFFF;
}
form input {
  float: left;
  margin-bottom: 8px;
  width: 200px;
}
form .bttn_submit {
  clear:both;
  margin-left: 150px;
  width: 60px;
}



/* =============================================================================
                                              Layout
*/
.header,
nav,
.banner,
.contentContainer,
.homeSlider,
.pre-footer,
.footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background-color: white;
}
.header,
.contentContainer,
.pre-footer,
.footer {
  padding: 0 6%;
}
.contentContainer {
  /* width: 880px; */
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
  /* background-image: url(../images/tile.jpg); */
  /* background-repeat: repeat-y; */
  /* overflow:hidden; */
  padding-top: 2em;
  padding-bottom: 2em;
}
/* Clearfix hack */
.contentContainer::after {
  content: "";
  display: table;
  clear: both;
}
.cols > * {
  flex: 1 1 0;
}
.cols > *:not(:first-child) {
  margin-left: 1em;
}
.cols img {
  width: 100%;
}



/* =============================================================================
                                              Components
*/
.dash {
  border-top: 1px dashed #cecece;
  margin-bottom: 15px;
  height: 15px;
  clear:both;
}
.banner {
  padding: 1.8%;
  text-align: center;
  font-size: 1.4em;
  background-image: linear-gradient(168deg, #6c9c2f, #39651a);
  color: white;
}
.banner.secondary {
  background: #d75d1f;
  padding: 0.4%;
}
.banner a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.banner p {
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
}
/* .crayonBox{
  background-image: url(../images/crayon_box.png);
  background-repeat: no-repeat;
  background-position:top;
  padding: 20px 30px 20px 30px;
  font-size: 12px;
  font-weight:bold;
}
.crayonBoxSml{
  background-image: url(../images/crayonBoxSml.png);
  background-repeat: no-repeat;
  padding: 25px 25px 20px 30px;
  font-size: 12px;
  font-weight:bold;
} */
[data-align="center"] {
  text-align: center;
}
.colR {
  width: 48%;
  float: right;
}
.colL{
  width: 48%;
  float: left;
}
.colL li {
  padding-bottom: 10px;
}

/* Buttons */
a.bttn:link,
a.bttn:visited {
  background-color: #0e76bc;
  height: 30px;
  padding: 0 20px 0 20px;
  line-height:2.4em;
  text-align:center;
  font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
  color: #FFFFFF;
  float: left;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  /* width: 106px; */
}
a.bttn:hover,
a.bttn:active{
  background-color: #ed6d2c;
  color: #FFFFFF;
}
/* Block quote, used on the Reality page */
.quote {
  background-image:url(../images/quote-bottomRight.png), url(../images/quote-topLeft.png);
  background-position: bottom right, top left;
  background-repeat:no-repeat, no-repeat;
  color:#0e76bc;
  font-size:18px;
  padding: 0 45px 0 50px;
  line-height:1.6em;
  /* width: 70%; */
  max-width: 48em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 35px;
  background-color:#ffffff;
  border: 22px solid #ffffff;
  box-shadow: 1px 1px 3px #888888;
  box-sizing: border-box;
}

/* ----------------------------------------
                          Carousel (slider)
*/
.carousel {}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
  box-shadow: none;
  background: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  font-size: 2em;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.slick-dots button {
  border: none;
  overflow: hidden;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  color: transparent;
  background: rgba(255, 255, 255, 0.5);
  margin: 10px 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.slick-dots .slick-active button {
  background: rgba(255, 255, 255, 1);
}



/* =============================================================================
                                              Header
*/
.header {
  /* background-image: url(../images/header.jpg); */
  background-position: top center;
  background-repeat: no-repeat;
  /* width: 900px;
  height: 115px; */
  overflow: hidden;
  padding: 10px;
}
.headerLogo {
  /* width: 771px;
  height: 90px; */
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 15px;
}



/* =============================================================================
                                              Nav menu
*/
nav {
  padding: 5px 0 5px; /* 5px 10px 5px 17px; */
  font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
  text-transform:uppercase;
  /* background-image:url(../images/menu-tile.jpg); */
  /* background-repeat:repeat-y; */
  /* width: 873px; */
  margin-top: 0;
  margin-bottom: 0;
  /* overflow:hidden; */
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* height: 38px; */
  display: flex;
  flex-wrap: wrap;
}
nav ul li {
  /* float: left; */
  flex: 1 1 auto;
  /* border-right: 4px solid #FFFFFF; */
  background-color: #0e76bc;
  position: relative;
}
nav > ul > li {
  margin-bottom: 1px;
}
nav > ul > li:not(:first-of-type) {
  margin-left: 1px;
}
nav span,
nav a {
  font-size: 13px;
  /* padding-left: 18px;
  padding-right: 18px; */
  padding: 0.5em 0.8em;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  /* line-height:2.4em; */
  font-weight: normal;
  display: block;
}
nav span {
  cursor: default;
}
nav li a:hover,
nav li:hover a {
  /* line-height:normal; */
  background-color: #ed6d2c;
  color: #FFFFFF;
  /* line-height:2.4em; */
}
nav ul li ul {
  display:none;
  z-index:80;
}
nav li:hover > ul {
  display:block;
  position: absolute;
}
nav li ul {
  position: relative;
  margin: 0;
  padding: 0;
  top: 100%;
  /* position:relative; */
  z-index:80;
  /* height: 30px; */
  list-style:none;
  border:none;
}
nav li ul li ul {
  top: 0;
  left: 100%;
}
nav li ul li {
  float: left;
  clear: left;
  border: none;
  padding:0;
  font-size: 13px;
}
nav li ul a,
nav li ul span {
  display:block;
  width: 180px;
  /* padding:0 15px 0 15px; */
  text-align:left;
}
nav li ul a {
  background-color: #ed6d2c;
}
nav li ul a:hover {
  background-color: #c54c1f; /* dark orange */
}
a.menuLinkActive{
  /* font-family: 'Roboto Condensed', Arial Narrow, sans-serif; */
  border-right: 4px solid #FFFFFF;
  /* color: #FFFFFF; */
  float: left;
  /* padding-top: 8px; */
  /* height: 25px; */
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  /* width: 106px; */
  background-color: #ed6d2c;
}
.menuDropShadow {
  background-image:url(../images/dropshadow.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  /* width: 800px; */
}



/* =============================================================================
                                              Footer
*/
.pre-footer {
  /* background-color: #ce5c23; */ /* Dark orange */
  border-top: dashed 1px #c9c9c9;
  /* color: white; */
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.pre-footer img {
  height: 30px;
  vertical-align: middle;
  margin-left: 1em;
}
.footer {
  background-color: #ed6d2c; /* Orange */
  /* background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position:bottom; */
  /* width: 900px; */
  /* height:136px; */
  padding-top: 8px;
  /* clear:both; */
}
.footerBlock{
  /* width: 874px; */
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
  color: #ffffff;
  font-size:12px;
  text-align: center;
  padding: 18px 0 18px 0;
}
.footerBlock a:link, .footerBlock a:visited{
  color: #ffffff;
  text-decoration: underline;
}
.footerBlock a:hover, .footerBlock a:active{
  color: #ffffff;
  text-decoration: none;
}



/* =============================================================================
                                              Home
*/
.vision {
  text-align:center;
  color: #000000;
  font-weight:bold;
  font-size: 20px;
  font-style:italic;
  line-height:normal;
}
.picsHome{
  float: right;
  margin-left: 18px;
}
/* -------- Nivo Slider -------- */
.homeSlider {
  /* background-image: url(../images/menu-tile.jpg); */
  /* background-repeat:repeat-y; */
  clear: both;
  /* width: 900px; */
  overflow:hidden;
}
.needsContact {
  color:#ffffff;
  background-color: #0e76bc;
  /* width: 610px; */
  margin-right:auto;
  margin-left:auto;
  margin-top:30px;
  margin-bottom:10px;
  text-align:center;
  font-size:15px;
  padding: 10px 15px 10px 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  behavior: url(pie/PIE.htc);
  z-index:0;
  position:relative;
  clear: both;
  width: 20em;
}
.needsContact a:link, .needsContact a:visited {
  color:#ffffff;
  text-decoration:none;
}
.needsContact a:hover, .needsContact a:active {
  text-decoration:underline;
}
/* -------- OBJECTIVES -------- */
.values h2 {
  margin: 0;
}
.values h1 {
  margin-left: 0;
}
/* -------- Contact -------- */
.ngo {
  float: right;
  border: 1px solid #ed6d2c;
  padding: 15px;
  /* width: 420px; */
  margin-right: 15px;
  text-align:left;
  box-sizing: border-box;
}
.contactBlock {
  text-align:center;
  /* float: left; */
  /* width: 600px; */
  margin-left: 15px;
}
.contactPerson {
  font-size:15px;
}
.contactNumbers,
.contactLinks {
  display: inline-block;
  color: white;
  font-size:15px;
  border-radius: 8px;
  margin: 0 5px 5px 5px;
}
.contactNumbers {
  background-color: #ed6d2c;
  padding: 5px 15px 5px 15px;
  behavior: url(pie/PIE.htc);
}
.contactLinks {
  background-color: #0e76bc;
  padding: 5px 15px 5px 15px;
  behavior: url(pie/PIE.htc);
}
.contactNumbers a,
.contactLinks a {
  color: #ffffff;
  font-weight: normal;
}
.contactBlock .ngo {
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  float:none;
  width: 92%;
  margin-bottom: 30px;
}
.bttn-donate {
  background-image:url(../images/bttn-donate.png);
  background-repeat:no-repeat;
  background-position:top;
  /* width: 192px;
  height: 56px; */
  display:block;
  margin-right:auto;
  margin-left:auto;
}
.bttn-donate:hover {
  background-position:bottom;
}
.bttn-internship {
  float: left;
  margin-left: -21px;
  margin-top: -11px;
  margin-right: -158px;
}
.thinktwice {
  font-size:19px;
  font-weight:normal;
  color: #000;
  font-family:'CompleteinHimRegular';
}



/* =============================================================================
                                              Team / Staff
*/
.profile {
  float: left;
  margin: 10px 10px 0 0;
}
@media all and (min-width: 650px) {
  .cols {
    display: flex;
  }
}
.board-member-profiles h3 {
  margin-bottom: 0.2em;
}
.board-member-profiles p {
  margin-top: 0.2em;
}
.board-member-profiles img,
.team img {
  height: 180px;
  object-fit: cover;
  object-position: top;
}
.team img {
  width: 180px;
}

.teamLeft{
  float: left;
  /* width: 410px; */
  background-image: url(../images/dash.png);
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 15px 20px 15px;
  text-align: left;
  overflow: hidden;
  padding-bottom: 5px;
  height: 900px;
}
.teamLeftShort{
  float: left;
  /* width: 410px; */
  background-image: url(../images/dash.png);
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 15px 20px 15px;
  text-align: left;
  overflow: hidden;
  padding-bottom: 5px;
  height: 630px;
}
.team{
  background-image: url(../images/dash.png);
  background-repeat: repeat-x;
  background-position: bottom;
  margin: 0 15px 20px 15px;
  text-align: left;
  overflow: hidden;
  padding-bottom: 5px;
}
.nicknames {
  color:#ed6d2c;
  font-weight:bold;
  font-style:italic;
}



/* =============================================================================
                                              Partners
*/
.logos img {
  vertical-align: middle;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
}
