/* CSS Document */

body		{ background-color: #EAEAEA; margin: 0px;   }

@font-face {
    font-family: 'CompleteinHimRegular';
    src: url('fonts/complete_in_him-webfont.eot');
    src: url('fonts/complete_in_him-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/complete_in_him-webfont.woff') format('woff'),
         url('fonts/complete_in_him-webfont.ttf') format('truetype'),
         url('fonts/complete_in_him-webfont.svg#CompleteinHimRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header		{ background-image: url(images/header.jpg); background-position: top center; background-repeat: no-repeat; margin-right: auto; margin-left: auto; width: 800px; height: 160px; overflow: hidden; padding-top: 55px; }
.headerLogo	{ width: 771px; height: 90px; margin-right: auto; margin-left: auto; text-align: center; padding-top: 15px;}

.contentContainer	{ width: 780px; margin-left: auto; margin-right: auto; padding: 0 10px 10px 10px; min-height: 250px; background-image: url(images/tile.jpg); background-repeat: repeat-y; font-family: Trebuchet MS; font-size:12px; color: #666666; text-align: justify; overflow:hidden; }
p					{ margin-left: 15px; margin-right: 15px; }
.dash				{ background-image: url(images/dash.png); background-repeat: repeat-x; margin: 10px 15px 10px 15px; height: 1px; }
.crayonBox			{ background-image: url(images/crayon_box.png); background-repeat: no-repeat; background-position:top; height: 45px; width: 726px; padding: 20px 30px 20px 30px; font-size: 12px; font-weight:bold;}
.crayonBoxSml		{ background-image: url(images/crayonBoxSml.png); background-repeat: no-repeat; height: 40px; width: 470px; padding: 25px 25px 20px 30px; font-size: 12px; font-weight:bold;}
.news				{ float: left; height: 140px; width: 325px; padding: 15px; margin: 0 15px 15px 15px; border: 1px solid #ed6d2c;}

/* -------- Headings -------- */
h1 	{ color: #000000; font-weight: bold; font-size: 14px; text-transform:uppercase; margin: 0px 0px 0px 15px; }
.thinktwice { font-size:19px; font-weight:normal; color: #000; font-family:'CompleteinHimRegular';}

/* -------- Menu -------- */
.menu		{ border: 4px solid #FFFFFF;  width: 771px; margin-right: auto; margin-left: auto; overflow:hidden; }
a.menuLink:link, a.menuLink:visited { background-color: #0e76bc; border-right: 4px solid #FFFFFF; font-family: Arial Narrow; color: #FFFFFF; font-size: 11px; float: left; padding-top: 8px; height: 22px; text-decoration: none; text-align: center; text-transform: uppercase; width: 106px; }
a.menuLink:hover, a.menuLink:active	{ background-color: #ed6d2c; color: #FFFFFF; }
a.contactLink:link, a.contactLink:visited { background-color: #0e76bc; font-family: Arial Narrow; color: #FFFFFF; font-size: 11px; float: left; padding-top: 8px; height: 22px; text-decoration: none; text-align: center; text-transform: uppercase; width: 111px; }
a.contactLink:hover, a.contactLink:active	{ background-color: #ed6d2c; color: #FFFFFF; }
a.menuLinkActive	{ border-right: 4px solid #FFFFFF; font-family: Arial Narrow; color: #FFFFFF; font-size: 11px; float: left; padding-top: 8px; height: 22px; text-decoration: none; text-align: center; text-transform: uppercase; width: 106px; background-color: #ed6d2c; }
a.contactLinkActive	{ font-family: Arial Narrow; color: #FFFFFF; font-size: 11px; float: left; padding-top: 8px; height: 22px; text-decoration: none; text-align: center; text-transform: uppercase; width: 111px; background-color: #ed6d2c;}

.menuDropShadow {background-image:url(images/dropshadow.jpg); background-position: bottom center; background-repeat: no-repeat; height: 10px; margin-right: auto; margin-left: auto; width: 800px; }
.welcome 	{ background-image:url(images/welcome_crayon.png); background-repeat:no-repeat; width: 475px; height: 250px; padding: 25px 20px 25px 20px;}
*+html .welcome	{ line-height: 1.3em;}
.intro 		{ text-align:center; color: #000000; font-weight:bold; font-size: 15px;}
.wiggly		{ background-image: url(images/wiggly.png); background-repeat: no-repeat; width: 600px; height: 70px; margin-right: auto; margin-left: auto; padding: 45px 0 0 40px; color: #000000; clear: both; font-size: 11px; }
.picsHome	{ float: right; margin-left: 18px;  }

/* -------- Contact -------- */
.ngo { float: right; border: 1px solid #ed6d2c; padding: 15px; width: 420px; margin-right: 50px; text-align:left;}

/* -------- Programmes -------- */
form		{overflow:hidden; padding: 20px; margin-left: 15px; width: 455px; background-color: #0e76bc;}
form label { width: 130px; float: left; clear:left; margin-left: 20px; margin-bottom: 8px; padding-top: 5px; color: #FFFFFF;}
form input { float: left; margin-bottom: 8px; width: 200px;}
form .bttn_submit { clear:both; margin-left: 150px; width: 60px;}

/* -------- Team -------- */
.profile	{ float: left; margin-right: 10px; }
.teamLeft	{ float: left; width: 360px; background-image: url(images/dash.png); background-repeat: repeat-x; background-position: bottom; margin: 0 15px 20px 15px; text-align: left; overflow: hidden; padding-bottom: 5px; height: 600px; }
.teamLeftShort	{ float: left; width: 360px; background-image: url(images/dash.png); background-repeat: repeat-x; background-position: bottom; margin: 0 15px 20px 15px; text-align: left; overflow: hidden; padding-bottom: 5px; height: 410px; }
*+html .teamLeft 		{line-height:1.3em; }
*+html .teamLeftShort 	{line-height:1.3em; }
.team		{ background-image: url(images/dash.png); background-repeat: repeat-x; background-position: bottom; margin: 0 15px 20px 15px; text-align: left; overflow: hidden; padding-bottom: 5px; }

/* -------- Footer -------- */
.footer			{ background-image: url(images/footer.jpg); background-repeat: no-repeat; background-position:bottom; width: 800px; height:116px; margin-left: auto; margin-right: auto; padding-top: 8px; clear:both; }
.footerBlock	{ background-color: #ed6d2c; width: 774px; padding: 8px; margin-left: auto; margin-right: auto; font-family:Arial Narrow; color: #ffffff; font-size:10px; text-align: center; padding: 18px 0 18px 0; }
.footerBlock a:link, .footerBlock a:visited	{ color: #ffffff; text-decoration: underline; }
.footerBlock a:hover, .footerBlock a:active	{ color: #ffffff; text-decoration: none; }
