/* CSS Document */

body { background-color: #EAEAEA; margin: 0px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size:14px; line-height:1.7em;  }

header, nav, section, footer { display: block; }

@font-face {
    font-family: 'CompleteinHimRegular';
    src: url('../fonts/complete_in_him-webfont.eot');
    src: url('../fonts/complete_in_him-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/complete_in_him-webfont.woff') format('woff'),
         url('../fonts/complete_in_him-webfont.ttf') format('truetype'),
         url('../fonts/complete_in_him-webfont.svg#CompleteinHimRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.header		{ background-image: url(../images/header.jpg); background-position: top center; background-repeat: no-repeat; margin-right: auto; margin-left: auto; width: 900px; height: 115px; overflow: hidden; padding-top: 55px; }
.headerLogo	{ width: 771px; height: 90px; margin-right: auto; margin-left: auto; text-align: center; padding-top: 15px;}

.contentContainer	{ width: 880px; margin-left: auto; margin-right: auto; padding: 0 10px 10px 10px; min-height: 250px; background-image: url(../images/tile.jpg); background-repeat: repeat-y; overflow:hidden; }
p					{ margin-left: 15px; margin-right: 15px; }
.dash				{ border-top: 1px dashed #cecece; margin-bottom: 15px; height: 15px; clear:both; }
.crayonBox			{ background-image: url(../images/crayon_box.png); background-repeat: no-repeat; background-position:top; height: 45px; width: 726px; padding: 20px 30px 20px 30px; font-size: 12px; font-weight:bold;}
.crayonBoxSml		{ background-image: url(../images/crayonBoxSml.png); background-repeat: no-repeat; height: 40px; width: 470px; padding: 25px 25px 20px 30px; font-size: 12px; font-weight:bold;}
table td			{ border-bottom: 1px dotted #000000; vertical-align:top;}
table				{ margin-left:auto; margin-right:auto;}
.colR 	{ width: 48%; float: right;}
.colL	{ width: 48%; float: left;}
.colL li { padding-bottom: 10px;}
a.bttn:link, a.bttn:visited { background-color: #0e76bc; height: 30px; padding: 0 20px 0 20px; line-height:2.4em; text-align:center; font-family: 'Roboto Condensed', Arial Narrow, sans-serif;  color: #FFFFFF; float: left; text-decoration: none; text-align: center; text-transform: uppercase; width: 106px; }
a.bttn:hover, a.bttn:active	{ background-color: #ed6d2c; color: #FFFFFF; }


/* ------- CONTACT BLOCK ------- */
.contactBlock {text-align:center; float: left; width: 600px; margin-left: 15px;}
.contactPerson { font-size:15px;}
.contactNumbers { color:#ffffff; background-color: #ed6d2c; font-size:15px; margin: 0 5px 10px 5px; padding: 5px 15px 5px 15px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; behavior: url(pie/PIE.htc); z-index:0; position:relative;}
.contactLinks { color:#ffffff; background-color: #0e76bc; font-size:15px; margin: 0 5px 0 5px; padding: 5px 15px 5px 15px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; behavior: url(pie/PIE.htc); z-index:0; position:relative;}
.contactNumbers a:link, .contactNumbers a:visited, .contactLinks a:link, .contactLinks a:visited {color:#ffffff; text-decoration:none;}
.contactNumbers a:hover, .contactNumbers a:active, .contactLinks a:hover, .contactLinks a:active {text-decoration:underline;}
.contactBlock .ngo { margin-right:auto; margin-left:auto; text-align:center; float:none; width: 92%; margin-bottom: 30px;}
.bttn-donate { background-image:url(../images/bttn-donate.png); background-repeat:no-repeat; background-position:top; width: 192px; height: 56px; display:block; margin-right:auto; margin-left:auto; }
.bttn-donate:hover { background-position:bottom;}
.bttn-internship {float: left; margin-left: -21px; margin-top: -11px; margin-right: -158px;}

/* -------- Headings -------- */
h1 	{ color: #ed6d2c; font-weight: bold; font-size: 38px; font-weight:normal; text-transform:uppercase; margin: 10px 0px 10px 15px; font-family:'CompleteinHimRegular'; line-height:normal; }
h2 	{ color: #0e76bc; font-weight: bold; font-size: 16px; text-transform:uppercase; margin: 0px 0px 0px 15px; }
.thinktwice { font-size:19px; font-weight:normal; color: #000; font-family:'CompleteinHimRegular';}

/* -------- Menu -------- */

nav { padding: 5px 10px 5px 17px; font-family: 'Roboto Condensed', Arial Narrow, sans-serif; text-transform:uppercase; background-image:url(../images/menu-tile.jpg); background-repeat:repeat-y; width: 873px; margin-right: auto; margin-left: auto; overflow:hidden; }
nav ul {list-style: none; margin: 0; padding: 0;  height: 38px;}
nav ul li {float: left;  border-right: 4px solid #FFFFFF; background-color: #0e76bc; }
nav ul li a:link, nav ul li a:visited { font-size: 13px; padding-left: 10px; padding-right: 10px; color:#ffffff; text-decoration: none; text-align: center; text-transform: uppercase; /*line-height:2.4em;*/} 
nav ul li a:hover, nav ul li:hover a  { line-height:normal; background-color: #ed6d2c; color: #FFFFFF; /*line-height:2.4em;*/ }
nav ul li ul { display:none; z-index:8000;}
nav ul li:hover { color:#ffffff; text-decoration:none; cursor: pointer; background-color: #ed6d2c; z-index:8000; }
nav ul li:hover ul.submenu {display:block; position: absolute;}

nav ul li ul.submenu { margin: 0; padding: 0; position:relative; z-index:8000; height: 30px; list-style:none; border:none; }
nav ul li ul.submenu li {float: left; clear: left; border: none; padding:0;  font-size: 13px;   }
nav ul li ul.submenu li a:link, nav ul li ul.submenu li a:visited { display:block;  width: 150px; padding:0 15px 0 15px; background-color: #ed6d2c; text-align:left;  line-height:2.4em;}
nav ul li ul.submenu li a:hover { background-color: #c54c1f;  color:#ffffff;}
nav ul li ul.submenu li:hover a { color:#ffffff; }

a.menuLinkActive	{ font-family: 'Roboto Condensed', Arial Narrow, sans-serif; border-right: 4px solid #FFFFFF; color: #FFFFFF; float: left; padding-top: 8px; height: 25px; text-decoration: none; text-align: center; text-transform: uppercase; width: 106px; background-color: #ed6d2c; }

.menuDropShadow { background-image:url(../images/dropshadow.jpg); background-position: bottom center; background-repeat: no-repeat; height: 10px; margin-right: auto; margin-left: auto; width: 800px; }
.vision 		{ text-align:center; color: #000000; font-weight:bold; font-size: 20px; font-style:italic; line-height:normal;}
.picsHome	{ float: right; margin-left: 18px;  }

/* -------- Nivo Slider -------- */
.homeSlider { background-image: url(../images/menu-tile.jpg); background-repeat:repeat-y; clear: both; margin-left:auto; margin-right:auto; width: 900px; overflow:hidden;}


/* -------- NEEDS -------- */
.needsContact { color:#ffffff; background-color: #0e76bc; width: 610px; margin-right:auto; margin-left:auto; margin-top:30px; margin-bottom:10px; text-align:center; font-size:15px; padding: 10px 15px 10px 15px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; behavior: url(pie/PIE.htc); z-index:0; position:relative;}
.needsContact a:link, .needsContact a:visited { color:#ffffff; text-decoration:none;}
.needsContact a:hover, .needsContact a:active { text-decoration:underline;}
.quote { background-image:url(../images/quote-bottomRight.png), url(../images/quote-topLeft.png); background-position: bottom right, top left; background-repeat:no-repeat, no-repeat; color:#0e76bc; font-size:18px; padding: 0 45px 0 50px; line-height:1.6em; width: 70%; margin-left:auto; margin-right:auto; margin-bottom: 35px; background-color:#ffffff; border: 22px solid #ffffff; box-shadow: 1px 1px 3px #888888;}

/* -------- OBJECTIVES -------- */
.values h2 {margin: 0;}
.values h1 {margin-left: 0;}

/* -------- Contact -------- */
.ngo { float: right; border: 1px solid #ed6d2c; padding: 15px; width: 420px; margin-right: 15px; text-align:left;}

/* -------- Programmes -------- */
form		{overflow:hidden; padding: 20px; margin-left: 15px; width: 455px; background-color: #0e76bc;}
form label { width: 130px; float: left; clear:left; margin-left: 20px; margin-bottom: 8px; padding-top: 5px; color: #FFFFFF;}
form input { float: left; margin-bottom: 8px; width: 200px;}
form .bttn_submit { clear:both; margin-left: 150px; width: 60px;}

/* -------- Team -------- */
.profile	{ float: left; margin: 10px 10px 0 0; }
.teamLeft	{ float: left; width: 410px; background-image: url(../images/dash.png); background-repeat: repeat-x; background-position: bottom; margin: 0 15px 20px 15px; text-align: left; overflow: hidden; padding-bottom: 5px; height: 900px; }
.teamLeftShort	{ float: left; width: 410px; background-image: url(../images/dash.png); background-repeat: repeat-x; background-position: bottom; margin: 0 15px 20px 15px; text-align: left; overflow: hidden; padding-bottom: 5px; height: 630px; }
.team		{ background-image: url(../images/dash.png); background-repeat: repeat-x; background-position: bottom; margin: 0 15px 20px 15px; text-align: left; overflow: hidden; padding-bottom: 5px; }
.nicknames { color:#ed6d2c; font-weight:bold; font-style:italic;}

/* -------- Footer -------- */
.footer			{ background-image: url(../images/footer.jpg); background-repeat: no-repeat; background-position:bottom; width: 900px; height:136px; margin-left: auto; margin-right: auto; padding-top: 8px; clear:both; }
.footerBlock	{ background-color: #ed6d2c; width: 874px; padding: 8px; margin-left: auto; margin-right: auto; font-family: 'Roboto Condensed', Arial Narrow, sans-serif; color: #ffffff; font-size:12px; text-align: center; padding: 18px 0 18px 0; }
.footerBlock a:link, .footerBlock a:visited	{ color: #ffffff; text-decoration: underline; }
.footerBlock a:hover, .footerBlock a:active	{ color: #ffffff; text-decoration: none; }

